asyncpg==0.31.0
beautifulsoup4==4.14.3
docx2txt==0.8
fastapi==0.135.1
httpx==0.28.1
huggingface_hub==1.6.0
langchain-community==0.4.1
langchain-core==1.2.18
langchain-mistralai==1.1.1
langchain-neo4j==0.8.0
langchain-text-splitters==1.1.1
langgraph==1.0.10
pydantic==2.12.5
pypdf==6.8.0
python-dotenv==1.2.2
python-multipart==0.0.22
pywa==3.9.0
PyYAML==6.0.3
tenacity==9.1.4
uvicorn==0.41.0
